   <title><%= title %></title>
   <meta name='viewport' content='width=device-width, initial-scale=1 shrink-to-fit=no'>
   <!-- Font Awesome v4.7 -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- Boostrap 4 CSS Module -->
   <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
   <!-- App CSS file -->
   <link href='/css/main.css' rel='stylesheet'>
   <!-- jQuery 3.3.1 -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>