   <title><%= title %></title>
   <meta name='viewport' content='width=device-width, initial-scale=1 shrink-to-fit=no'>
   <!-- Font Awesome 4.7.0 -->
   <link rel="stylesheet" href="/css/lib/font-awesome4.7.0.min.css">
   <!-- Boostrap 4.9.0 CSS Module -->
   <link href='/css/lib/bootstrap4.0.0.min.css' rel='stylesheet'>
   <!-- App CSS file -->
   <link href='/css/main.css' rel='stylesheet'>
   <!-- jQuery 3.3.1 -->
   <script src="/js/lib/jquery3.3.1.min.js"></script>
</head>
<body>