<% include partials/header %>
<div class='container m-5'>
   <h1 class='border-bottom'>Sites</h1>
   <% data.sites.forEach(function(site) { %>
      <p>
         <a class='btn btn-primary' href='<%= site %>'><%= site %></a>
      </p>
   <% }) %>
</div>
<% include partials/footer %>