<% include partials/header %>

   <div class='container my-5'>
      <ul class='list-group mb-5'>
         <h2>Keywords</h2>
         <% data.keywords.forEach(function(keyword) { %>
            <li class='list-group-item'><%=keyword%></li>
         <% }) %>
      </ul>

      <ul class='list-group mb-5'>
         <h2>Locations</h2>
         <% data.cities.forEach(function(cities) { %>
            <li class='list-group-item'><%=cities%></li>
         <% }) %>
      </ul>
      <div>Running state: <%= runState %> </div>
      <div class='btn-group'>
         <button class='btn btn-danger'>STOP</button>
         <button class='btn btn-success'>START</button>  
      </div>
   </div>

   <script>
      $('.btn-danger').on('click', function() {
         $.ajax({
            url: 'http://localhost:3000/stop',
            type: 'POST',
            success: function() {
               console.log('stop');
               
               $('.btn-danger').addClass('active');
               $('.btn-success').removeClass('active');
            }
         });
      });
      $('.btn-success').on('click', function() {
         $.ajax({
            url: 'http://localhost:3000/start',
            type: 'POST',
            success: function() {
               console.log('start');
               $('.btn-danger').removeClass('active');
               $('.btn-success').addClass('active');
            }
         });
      });
   </script>


<% include partials/footer %>