<% include ./partials/header-top %>
<% title = 'Sites Selection' %>
<% include ./partials/header-bottom %>

   <main class='my-5'>
      <div class='container'>
         <h1 class='h2'>Select the sites to use</h1>
         <form action='/start' method='POST'>
            <ul class='list-group'>

               <% sites.forEach(function(site) { %>
                  <li class='list-group-item d-relative checkbox-list-item'>
                     <label>
                        <input class='d-none checkbox-input' type='checkbox' value='<%= site %>' name='sites'>
                        <div class='checkbox-text text-center d-absolute full-size-absolute'>
                           <%= site[0].toUpperCase() + site.substring(1) %>
                        </div>
                     </label>
                  </li>
               <% }) %>

            </ul>

            <button class='btn btn-primary mt-3' type='submit'>Start the app</button>
            <p class='text-muted mt-3'>Once the application has started, the sites used cannot be changed. To do so the application must be restarted.</p>
         </form>

         <!-- Error messaging -->
         <div class="mt-5 alert alert-danger alert-dismissible show error-container d-none" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <span class='error-message'></span>
         </div>

         <hr>
         <a href='/debugging' class='btn btn-info'>Database debugging</a>
      </div>
   </main>



   </div>

   <script src='/js/start.js'></script>

<% include ./partials/footer %>