<% include ./partials/header-top %>
<% title = 'Sites Selection' %>
<% include ./partials/header-bottom %>

   <main class='my-5'>
      <div class='container'>
         <h1 class='h2'>Select the sites to use</h1>
         <form action='/start' method='POST'>
            <ul class='list-group'>
               <li class='list-group-item d-relative checkbox-list-item'>
                  <label>
                     <input class='d-none checkbox-input' type='checkbox' value='something' name='td'>
                     <div class='checkbox-text text-center d-absolute full-size-absolute'>
                        This is the text that goes inside of
                     </div>
                  </label>
               </li>
               <li class='list-group-item d-relative checkbox-list-item'>
                  <label>
                     <input class='d-none checkbox-input' type='checkbox' value='something' name='td'>
                     <div class='checkbox-text text-center d-absolute full-size-absolute'>
                        This is the text that goes inside of
                     </div>
                  </label>
               </li>
               <li class='list-group-item d-relative checkbox-list-item'>
                  <label>
                     <input class='d-none checkbox-input' type='checkbox' value='something' name='td'>
                     <div class='checkbox-text text-center d-absolute full-size-absolute'>
                        This is the text that goes inside of
                     </div>
                  </label>
               </li>
               <li class='list-group-item d-relative checkbox-list-item'>
                  <label>
                     <input class='d-none checkbox-input' type='checkbox' value='something' name='td'>
                     <div class='checkbox-text text-center d-absolute full-size-absolute'>
                        This is the text that goes inside of
                     </div>
                  </label>
               </li>
            </ul>

            <button class='btn btn-primary mt-3' type='submit'>Start the app</button>
         </form>
      </div>
   </main>



   </div>

<% include ./partials/footer %>