/* General / Helpers */
body {
   padding-left: 10px;
   padding-right: 10px;
}
   /* matches the margin of Bootstrap's 'row' class */
.row-margin {
   margin-left: -15px;
   margin-right: -15px;
}
   /* Positions something absolutely to the right with a bit of spacing */
.absolute-right {
   right: 5px;
   top: 5px;
   bottom: 5px;
   z-index: 999;
}
   /* general list-group-item(s) styling and for their different status */
.list-group-item { padding: 0; }
.list-group-item:hover { background: rgba(82%, 82%, 82%, 0.7); }
.list-group-item:active { background: rgba(82%, 82%, 82%, 0.9); }
.list-group-item:focus { background: rgba(87%, 87%, 87%, 0.95); }

/* Index page */
.result-item {
   display: block;
   width: 100%;
   padding: 0.75rem 1.25rem;
   padding-right: 7rem;
   transition-property: background;
   transition-duration: 0.05s;
   box-sizing: border-box;
}
.result-type { margin-bottom: 150px; }




/* Settings */
   /* 'LED' running status */
.led-green { color: rgba(40, 200, 70, 0.7); }
.led-red { color: rgba(230, 70, 40, 0.7); }
.led-green .led-body { background-color: rgba(40, 200, 70, 0.7); }
.led-red .led-body { background-color: rgba(230, 70, 40, 0.7); }
.led, .led-body { display: inline-block; }
.led-body {
   margin-left: 1em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	box-shadow: inset 0 0 0.6em 0.2em rgba(80, 80, 80, 0.5), 0 0 0.5em 0 currentColor;
}
[data-status] { 
   transition: 0.7s all linear; 
}

/* Select sites and start the app itself page */
.current-search-item {
   background: pink;
}

.checkbox-input + .checkbox-text { background: transparent; }
.checkbox-input:checked + .checkbox-text {
   background: rgba(77, 77, 77, 0.95);
   color: white;
}

.full-size-absolute {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   position: absolute;
}

.checkbox-list-item {
   padding: 1.5em;
   height: 0;
   box-sizing: border-box;
   line-height: 3em;
}

.checkbox-text:hover {
   cursor: pointer;
}





.data-container {
   padding: 3rem;

   border: 1px solid gray;
   cursor: pointer;
}
.top-margin-space {
      margin-top: 90px;
}

.data-container:hover {
   background: rgba(0,0,0,0.15);
}

.data-container > .data-container:hover {
   background: rgba(0,0,0,0.23);
}
.data-container > .data-container > .data-container:hover {
   background: rgba(0,0,0,0.35);
}
.individual-result:hover {
   background: rgba(0,0,0,0.45);
}
.data-container label:first-of-type {
   margin-top: 90px;
}
.data-container label {
   display: block;
   cursor: pointer;
}

.to-delete-checkbox:checked + .checkbox-bg {
   background: rgba(0,0,0,0.7);
   z-index: -1;
}
.to-delete-checkbox:checked ~ * {
   color: rgb(200, 200, 200);
}

.data-container ul {
   list-style-type: none;
}
.data-container li {
   padding: 0.5em;
   border: 1px solid rgb(64, 64, 64);
}

.text-bold {
   font-weight: bold;
}
.text-italic {
   font-style: italic;
}
.text-underline {
   text-decoration: underline;
}

.destructor {
   position: fixed;
   right: 15px;
   bottom: 15px;
   z-index: 20;
}

.confirm-dialog-box {
   z-index: 20;
   position: fixed;
   top: 20px;
   left: 20%;
   right: 20%;
   padding: 2em 5em;
   background: gray;
   border-radius: 10px;
}

.confirm-dialog-box {
   text-align: center;
}


.dialog-input-container {
   width: 100%;
   max-width: 1000px;
   margin: 0 auto;
   display: block;
}
.dialog-input-container input {
   width: 100%
}



@media screen and (max-width: 700px) {
   .confirm-dialog-box {
      left: 5%;
      right: 5%;
      padding: 1em 0.5em;
   }
}
@media screen and (max-width: 1100px) {
   .confirm-dialog-box {
      left: 10%;
      right: 10%;
      padding: 2em 1em;
   }
}

.close-dialog {
   font-size: 1.2em;
   right: 0;
   top: 0;
   background: white;
   padding:0 1em;
   border-bottom-left-radius: 5px;
   font-weight: bold; 
   color: white;
   cursor: pointer;
}
/* Start the app page */