/* General / Helpers */
body {
   padding-left: 10px;
   padding-right: 10px;
}

.row-margin {
   margin-left: -15px;
   margin-right: -15px;
}

.result-item {
   display: block;
   width: 100%;
   padding: 0.75rem 1.25rem;
   padding-right: 7rem;
   transition-property: background;
   transition-duration: 0.05s;
   box-sizing: border-box;
}

/* Positions something absolutely to the right with a bit of spacing */
.absolute-right {
   right: 5px;
   top: 5px;
   bottom: 5px;
   z-index: 999;
}

/* list-group-item extended styling */
.list-group-item { padding: 0; }
.list-group-item:hover { background: rgba(82%, 82%, 82%, 0.7); }
.list-group-item:active { background: rgba(82%, 82%, 82%, 0.9); }
.list-group-item:focus { background: rgba(87%, 87%, 87%, 0.95); }


.result-type { margin-bottom: 150px; }

[data-status] { transition: 0.7s all linear; }



/* 'LED' running status */
.led-green { color: rgba(40, 200, 70, 0.7); }
.led-red { color: rgba(230, 70, 40, 0.7); }
.led-green .led-body { background-color: rgba(40, 200, 70, 0.7); }
.led-red .led-body { background-color: rgba(230, 70, 40, 0.7); }
.led, .led-body { display: inline-block; }
.led-body {
   margin-left: 1em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	box-shadow: inset 0 0 0.6em 0.2em rgba(80, 80, 80, 0.5), 0 0 0.5em 0 currentColor;
}

.current-search-item {
   background: pink;
}